{{ define "main" }}

<a btn full primary href="/filter">Filter Demo</a>
<a btn full primary href="/filterdoc">Filter Demo + Documentation</a>

<!-- Uncomment below to generate full list of all posts in mainSections -->

<!--
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $paginator := .Paginate $pages  }}

{{ $.Scratch.Set "postCount" ( $paginator.PageSize ) }}

<table>
<tr>
  <th>.Section</th>
  <th>.Params.Author</th>
  <th>.Title</th>
</tr>
{{ range $pages.ByPublishDate.Reverse }}
<tr>
  <td>{{.Section}}</td>
  <td>{{.Params.Author}}</td>
  <td><a href="{{.RelPermalink}}">{{.Title}}</a></td>
</tr>
{{ end }}
</table>
-->

  
{{ end }}